doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ./includes/navbar.jade
    block content    
    hr
    // Footer
    footer
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            ul.list-inline.text-center
              li
                a(href='#')
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#')
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#')
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    i.fa.fa-github.fa-stack-1x.fa-inverse
            | &#x9;&#x9;&#x9;&#x9;
            p.copyright.text-muted Copyright &copy; SportsBlog 
                a(href='/manage/articles/') Manage Articles
    script(src='/javascript/jquery.js')
    script(src='/javascript/bootstrap.js')
